# Copy this file to .env and fill in your API keys
OPENAI_API_KEY_1=your-key-1
OPENAI_API_BASE_1=https://api.openai.com/v1

# Anthropic
ANTHROPIC_API_KEY_1=your-anthropic-key
ANTHROPIC_API_BASE_1=https://api.anthropic.com

# Google
GEMINI_API_KEY=your-gemini-key

# X.AI
XAI_API_KEY=xai-HRvFfcuEJg2fwLPnEjuXXflgZkmbeZaWZK7dY3F3kdmKcRArT4legtcN3AzNAdM9hIvbuBJYdL2iqsLx